[Unit]
Description=AoT server
After=syslog.target network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=20s
TimeoutSec=0
ExecStart=/opt/AoT/env/bin/python /opt/AoT/aot/aot_daemon.py
ExecStop=/opt/AoT/env/bin/python /opt/AoT/aot/aot_client.py -t
ExecReload=/opt/AoT/env/bin/python /opt/AoT/aot/aot_client.py -t && /opt/AoT/env/bin/python /opt/AoT/aot/aot_daemon.py

[Install]
WantedBy=multi-user.target
Alias=aot.service
