{% if each_function.device == 'function_spacer' %}
{% include 'pages/function_options/custom_function_spacer.html' %}
{% else %}

<form method="post" action="/function">
  {{form_function.csrf_token}}
  {{form_function.function_id(value=each_function.unique_id)}}
  {{form_function.function_type(class_='form-control', value='function')}}

  {% set form = form_function %}
  {% set dict_options = dict_controllers[each_function.device] %}
  {% set each_device = each_function %}
  {% set unique_id = each_function.unique_id %}
  {% set custom_options_values = custom_options_values_controllers %}

  <div id="function_status_{{each_function.unique_id}}" class="grid-stack-item-content {% if each_function.is_activated -%}active-background
      {% else -%}inactive-background
      {% endif -%} row small-gutters aot-entry-item">

    <div class="aot-entry-drag-handle">
      <i class="fa fa-grip-lines"></i>
    </div>
    <div class="aot-entry-content-item aot-col-name">
      {{form_trigger.name(class_='form-control aot-entry-name-input', disabled=True,
      id='function_name_' + each_function.unique_id,
      value=each_function.name)}}
    </div>
    <div class="aot-entry-content-item aot-col-uuid">
      <input class="form-control btn aot-entry-uuid-btn aot-entry-btn-base" type="button"
        onclick="setClipboard('{{each_function.unique_id}}')"
        title="UUID: {{each_function.unique_id}}, {{dict_translation['copy_to_clipboard']['phrase']}}" value="
        {%- for each_function_type in function_types if each_function.trigger_type == each_function_type[0] -%}{{each_function_type[1]}}{%- endfor -%}
        {%- if each_function.is_activated %} [{{_('Active')}}]
        {%- else %} [{{_('Inactive')}}]
        {%-endif -%}
      ">
    </div>
    <div class="aot-entry-actions aot-col-action">
      <input {% if each_function.is_activated -%}style="display: none" {% endif %}
        onclick="return $(this).processRequest(this, 'function_activate');" name="function_activate"
        id="function_activate_{{each_function.unique_id}}" class="form-control btn btn-primary aot-entry-btn-base" type="button"
        value="{{_('Activate')}}" />
      <input {% if not each_function.is_activated -%}style="display: none" {% endif %}
        onclick="return $(this).processRequest(this, 'function_deactivate');" name="function_deactivate"
        id="function_deactivate_{{each_function.unique_id}}" class="form-control btn btn-primary aot-entry-btn-base" type="button"
        value="{{_('Deactivate')}}" />
    </div>
    <div class="aot-entry-settings">
      <a class="btn p-0" data-toggle="modal"
        data-target="#modal_config_{{each_function.unique_id}}">
        <i class="fas fa-cog"></i>
      </a>
    </div>
  </div> <!-- grid-stack-item-content -->
</form>

<div class="modal fade aot-option-modal" id="modal_config_{{each_function.unique_id}}" tabindex="-1" role="dialog"
  aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl aot-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{_('Function Configuration')}}{% if 'function_name' in dict_options %}:
          {{dict_options['function_name']}}{% endif %}</h5>
      </div>
      <div class="modal-body">
        {% include 'pages/function_options/custom_function_options.html' %}
      </div>
    </div>
  </div>
</div>

{% endif %}