<html>
  <head>
    <title>{{_('Error 500: Internal Server Error')}}</title>
  </head>
  <body>
    <h2>{{_('Error 500: Internal Server Error')}}</h2>

    <p>{{_('Something went wrong, but it is probably not your fault. Notifying the developers about this issue is very important for AoT support. However, please check first if this issue has already been reported on')}} <a href="https://github.com/AoT-inc/AoT-AI/issues" target="_blank">{{_('GitHub Issues')}}</a> {{_('and the')}} <a href="https://forum.radicaldiy.com/search" target="_blank">{{_('forum')}}</a>. {{_('If it has not been reported, please')}} <a href="https://github.com/AoT-inc/AoT-AI/issues/new?template=problem-bug-report.md" target="_blank">{{_('submit a new issue on GitHub')}}</a>, {{_('including the diagnostic information and error trace (copy the entire trace) below.')}}</p>

    <p>
      {{_('Version')}}: {{dict_return["version_aot"]}}
      <br/>{{_('Database')}}: {{dict_return["version_alembic"]}}
      <br/>{{_('Model')}}: {{dict_return["model"]}}
    </p>
    <p>{{_('Release')}}:<br/>{{dict_return["lsb_release"]|safe}}</p>

    <p>{{_('Error (Entire traceback)')}}:</p>
    <pre>{{dict_return["trace"]}}</pre>
  </body>
</html>