
<div class="pause-background" id="container-controller-{{widget.unique_id}}" style="height: 100%">

  <div class="row small-gutters" style="padding: 1em 1.5em 0.5em 1.5em">
    <div id="button-activate-{{widget.unique_id}}" class="col-12">
      <input class="btn btn-block btn-primary activate_controller" id="activate_controller" name="{{widget.unique_id}}/{{widget.options['controller']}}/activate" type="button" value="{{dict_translation['activate']['title']}}">
    </div>
    <div id="button-deactivate-{{widget.unique_id}}" class="col-12">
      <input class="btn btn-block btn-primary deactivate_controller" id="deactivate_controller" name="{{widget.unique_id}}/{{widget.options['controller']}}/deactivate" type="button" value="{{dict_translation['deactivate']['title']}}">
    </div>
  </div>

</div>
