
    {%- set wo = widget_options if widget_options is defined else {} -%}
    {%- set output = wo.get('output', '') -%}
    {%- set device_id = '' -%}
    {%- set channel_id = '' -%}
    {%- if output and ',' in output -%}
      {%- set device_id = output.split(',')[0] -%}
      {%- set channel_id = output.split(',')[1] -%}
    {%- endif -%}

    {%- if device_id and channel_id -%}
      // [AoT Timer] READY: name assignment only (no fetch here)
      (function(){
        const wid   = "{{each_widget.unique_id}}";
        const devId = "{{device_id}}";
        const chId  = "{{channel_id}}";
        const $chk  = $('#tm_tog_'+wid);
        $chk.attr('name', devId + '/' + chId);
        console.debug("[AoT Timer] READY: name assigned", devId, chId);
      })();
    {%- else -%}
      console.debug("[AoT Timer] READY: device_id/channel_id not provided yet; will be set in READY_END.");
    {%- endif -%}
    