<form id="form_camera_{{each_camera.unique_id}}" method="post" action="/camera">
  {{form_mod_camera.csrf_token}}
  <input type="hidden" name="camera_id" value="{{each_camera.unique_id}}">

  {% set form = form_mod_camera %}
  {% set dict_options = dict_cameras[each_camera.camera_type] %}
  {% set each_device = each_camera %}
  {% set unique_id = each_camera.unique_id %}

  <div id="camera_status_{{each_camera.unique_id}}"
    class="grid-stack-item-content {% if each_camera.is_activated -%}active-background{% else -%}inactive-background{% endif %} row small-gutters aot-entry-item">
    
    <!-- 드래그 핸들 -->
    <div class="aot-entry-drag-handle">
      <i class="fa fa-grip-lines"></i>
    </div>

    <!-- 카메라 이름 -->
    <div class="aot-entry-content-item aot-col-name">
      <input id="camera_name_{{each_camera.unique_id}}" 
        class="form-control aot-entry-name-input" 
        disabled="" 
        value="{{each_camera.name}}" 
        type="text">
    </div>

    <!-- 카메라 타입 (UUID 버튼) -->
    <div class="aot-entry-content-item aot-col-uuid">
      <input class="form-control btn aot-entry-uuid-btn aot-entry-btn-base" 
        type="button"
        onclick="setClipboard('{{each_camera.unique_id}}')" 
        title="UUID: {{each_camera.unique_id}}, {{dict_translation['copy_to_clipboard']['phrase']}}"
        value="{{ dict_cameras.get(each_camera.camera_type, {}).get('camera_name', each_camera.camera_type) }}">
    </div>

    <!-- Activate/Deactivate 버튼 -->
    <div class="aot-entry-actions aot-col-action">
      <input {% if each_camera.is_activated -%}style="display: none" {% endif %}
        onclick="return $(this).processRequest(this, 'camera_activate');" 
        name="camera_activate"
        id="camera_activate_{{each_camera.unique_id}}" 
        class="form-control btn btn-primary aot-entry-btn-base" 
        type="button"
        value="{{_('Activate')}}" />
      <input {% if not each_camera.is_activated -%}style="display: none" {% endif %}
        onclick="return $(this).processRequest(this, 'camera_deactivate');" 
        name="camera_deactivate"
        id="camera_deactivate_{{each_camera.unique_id}}" 
        class="form-control btn btn-primary aot-entry-btn-base" 
        type="button"
        value="{{_('Deactivate')}}" />
    </div>

    <!-- 설정 아이콘 -->
    <div class="aot-entry-settings">
      <a class="btn p-0" data-toggle="modal" data-target="#modal_config_{{each_camera.unique_id}}">
        <i class="fas fa-cog"></i>
      </a>
    </div>
  </div>
</form>

<!-- 설정 모달 -->
<div class="modal fade aot-option-modal" 
  id="modal_config_{{each_camera.unique_id}}" 
  tabindex="-1" 
  role="dialog"
  aria-labelledby="ModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-xl aot-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{_('Camera Settings')}}{% if each_camera.camera_type in dict_cameras %}:
          {{dict_cameras[each_camera.camera_type]['camera_name']}}{% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'pages/data_options/camera_options.html' %}
      </div>
    </div>
  </div>
</div>
