{%- set all_measurements = table_device_measurements.query.filter(
                               table_device_measurements.device_id == each_device.unique_id).all() -%}
{% if all_measurements and 'measurements_select' in dict_options['options_enabled'] %}

<div class="aot-modal-option-row">
  <label class="aot-modal-option-label">{{form.measurements_enabled.label(class_='mb-0')}}</label>
  <div class="aot-modal-option-control">
    <select class="form-control aot-modern-select selectpicker aot-standard-select" 
            id="measurements_enabled" name="measurements_enabled" 
            title="{{_('Select')}}"
            multiple 
            data-live-search="true"
            data-selected-text-format="static"
            data-style="btn-white">
      {% include 'pages/data_options/TEMPLATE_Measurements_Enabled_Info.html' %}
    </select>
  </div>
</div>

{%- endif -%}
