<div id="mod_widget_{{each_widget.unique_id}}">
  <form id="mod_widget_form_{{each_widget.unique_id}}" method="post" action="/dashboard/{{dashboard_id}}">

    {{form_base.csrf_token(id='csrf_token_' ~ each_widget.unique_id)}}
    {{form_base.dashboard_id(value=dashboard_id, id='dashboard_id_' ~ each_widget.unique_id)}}
    {{form_base.widget_id(value=each_widget.unique_id, id='widget_id_' ~ each_widget.unique_id)}}
    <input type="hidden" name="widget_type" value="{{each_widget.graph_type}}">
    <!-- Hidden submit button to capture Enter key and trigger Save instead of the first visible button -->
    <input type="submit" name="widget_mod" style="display:none;">

    <div class="d-flex flex-wrap mb-3" style="padding-left: 0.5em; padding-right: 0.5em;">
      <button type="button" class="btn aot-pill-btn aot-pill-btn-primary aot-w-60 mr-2 mb-2" data-dismiss="modal">{{_('Close')}}</button>
      {{form_base.widget_delete(class_='btn aot-pill-btn aot-pill-btn-primary aot-w-60 mr-2 mb-2', id='widget_delete_' ~ each_widget.unique_id, **{'onclick':'return confirm("' ~ _('Are you sure you want to delete this widget?') ~ '")'})}}
      {{form_base.widget_duplicate(class_='btn aot-pill-btn aot-pill-btn-primary aot-w-60 mr-2 mb-2', value=_('Duplicate'), id='widget_duplicate_' ~ each_widget.unique_id)}}
      {{form_base.widget_mod(class_='btn aot-pill-btn aot-pill-btn-primary aot-w-60 mb-2', id='widget_mod_' ~ each_widget.unique_id)}}
    </div>

    <div class="row small-gutters" style="padding: 0.5em">
      {% if 'message' in dict_widgets[each_widget.graph_type] %}
      <div class="col-12" style="padding-top: 0.3em; padding-bottom: 1em">
        {{dict_widgets[each_widget.graph_type]['message']|safe}}
      </div>
      {% endif %}
    </div>

    <div class="aot-modal-group-title">{{_('Basic Settings')}}</div>
    <div class="aot-modal-container">
      {% include 'pages/dashboard_options/TEMPLATE_OPTIONS_WIDGET_MOD.html' %}

      {% set dict_options = dict_widgets[each_widget.graph_type] %}
      {% set unique_id = each_widget.unique_id %}
      {% set custom_options_values = custom_options_values_widgets %}

      {% if custom_options_values[unique_id] %}

        {% if 'custom_options_message' in dict_options %}
          {% include 'pages/form_options/Custom_Options_Message.html' %}
        {% endif %}

        {% if 'custom_options' in dict_options %}
          {% for each_option in dict_options['custom_options'] %}
            {% include 'pages/form_options/Custom_Options.html' %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>

      {% if each_widget.graph_type in list_html_files_configure_options %}
      <!-- Widget {{each_widget.graph_type}} {{each_widget.unique_id}} widget_dashboard_configure_options template for {{each_widget.unique_id}} begin -->
      {% include 'user_templates/{}'.format(list_html_files_configure_options[each_widget.graph_type]) %}
      <!-- Widget {{each_widget.graph_type}} {{each_widget.unique_id}} widget_dashboard_configure_options template for {{each_widget.unique_id}} end -->
      {% endif %}

  </form>
</div>
