[ignore: functions/custom_functions/**]
[ignore: actions/custom_actions/**]
[ignore: inputs/custom_inputs/**]
[ignore: outputs/custom_outputs/**]
[ignore: widgets/custom_widgets/**]
[ignore: tests/**]

[ignore: aot_flask/static/lib/**]
[ignore: aot_flask/static/dist/**]
[ignore: aot_flask/static/apps/**]
[ignore: aot_flask/static/manual/**]
[ignore: aot_flask/static/uploads/**]
# [ignore: aot_flask/static/**]
[ignore: aot_flask/translations/**]

[python: **.py]
[javascript: **.js]
[jinja2: aot_flask/templates/**.html]
[jinja2: aot_flask/user_templates/**.html]

silent=false
extensions=jinja2.ext.do
