
    <style>
    /* 타이머 위젯 전용 UI 개선 */
    #aot_tm_{{each_widget.unique_id}} .col-aot-2 {
      width: 60px !important;
      border: none !important;
    }
    #aot_tm_{{each_widget.unique_id}} .input-time,
    #aot_tm_{{each_widget.unique_id}} .btn-time {
      border: none !important;
      box-shadow: none !important;
    }
    #aot_tm_{{each_widget.unique_id}} .input-time-hh,
    #aot_tm_{{each_widget.unique_id}} .input-time-mm,
    #aot_tm_{{each_widget.unique_id}} .input-time-ss {
      background-color: #ffffff !important;
      border: none !important;
      box-shadow: none !important;
    }
    #aot_tm_{{each_widget.unique_id}} .btn-time-item {
      border: none !important;
      box-shadow: none !important;
    }
    </style>

    {%- set wo = widget_options if widget_options is defined else {} -%}

    {%- set output = wo.get('output', '') -%}
    {%- set device_id = '' -%}
    {%- set channel_id = '' -%}
    {%- if output and ',' in output -%}
      {%- set device_id = output.split(',')[0] -%}
      {%- set channel_id = output.split(',')[1] -%}
    {%- endif -%}

    {%- set effective_offset = (widget_options.get('tz_offset', '9.0')) -%}

    <!-- 최상위 컨테이너: aot_tm_{{unique_id}} -->
    <div class="frame-aot" id="aot_tm_{{each_widget.unique_id}}" data-controls-enabled="{{ 'true' if widget_options['enable_output_controls'] else 'false' }}" data-offset="{{ effective_offset }}">

      <!-- 첫 번째 행 -->
      <div class="row-aot-1">
        <!-- Timestamp 표시 (왼쪽) -->
        <div class="col-aot-1">
          <span id="tm_timestamp_{{each_widget.unique_id}}" class="prt-text" style="font-size: {{widget_options['widget_name_font_em']}}em;">
            <!-- 여기 타이머 경과시간 등 표시 -->
          </span>
        </div>

        <!-- 토글 스위치 (오른쪽) -->
        <div class="col-aot-2">
          <label class="btn-toggle">
            <input type="checkbox"
                  id="tm_tog_{{each_widget.unique_id}}"
                  class="btn-toggle-input aot-timer-toggle"
                  data-wid="{{each_widget.unique_id}}"
                  name="{{device_id}}/{{channel_id}}">
            <span class="btn-toggle-slider">
              <span class="btn-toggle-thumb"></span>
            </span>
          </label>
        </div>
      </div>

      {% if widget_options['enable_output_controls'] %}
      <!-- 두 번째 행 -->
      <div class="row-aot-2">
        <!-- 시간 입력 영역 -->
        <div class="input-time">
          <input type="number" min="0" max="48"
                id="tm_hh_{{each_widget.unique_id}}"
                class="input-time-hh"
                value="0">
          <input type="number" min="0" max="59"
                id="tm_mm_{{each_widget.unique_id}}"
                class="input-time-mm"
                value="0">
          <input type="number" min="0" max="59"
                id="tm_ss_{{each_widget.unique_id}}"
                class="input-time-ss"
                value="0">
        </div>

        <!-- 버튼 영역 -->
        <div class="btn-time">
          <input id="tm_reset_{{each_widget.unique_id}}"
                class="btn-time-item"
                type="button"
                value="{{_('Reset')}}">
          <input id="tm_plus5_{{each_widget.unique_id}}"
                class="btn-time-item"
                type="button"
                value="{{_('5m')}}">
          <input id="tm_plus10_{{each_widget.unique_id}}"
                class="btn-time-item"
                type="button"
                value="{{_('10m')}}">
        </div>
      </div>
      {% endif %}
    </div>
    