
const wid = '{{widget.unique_id}}';
const dev_id = '{{widget.options["controller"]}}';
if (!dev_id) {
    console.warn('Controller ID is undefined for widget:', wid);
    return;
}
$('#aot_controller_toggle_' + wid).attr('name', dev_id);

$(document).ready(function(){
  $('#aot_controller_toggle_' + wid).off('change').on('change', function(){
      const isOn = $(this).is(':checked');
      const action = isOn ? 'activate' : 'deactivate';
      setControllerStateAoT(dev_id, action, wid);
  });
});
