
  <div id="forecast-container-{{each_widget.unique_id}}" class="frame-aot day-background">
    <div class="row-aot-weather-1">
      <!-- 1) 아이콘 표시 -->
      <div class="col-wether-graphic">
          <div id="forecast-icon-{{each_widget.unique_id}}" class="icon-aot-weather">
              <!-- 날씨 아이콘 표시 --> 
          </div>
      </div>

      <!-- 2) 현재 온도 (TMP) -->
      <div class="col-wether-tmp">
          <!-- 자바스크립트에서 채워질 영역 -->
          <span id="forecast-tmp-{{each_widget.unique_id}}"></span>
      </div>

      <!-- 3) 최저/최고 온도 (TMN / TMX) -->
      <div class="col-wether-tmntmx" style="font-size: {{ widget_options.font_em_text | default(1) }}em;">
          <div id="forecast-tmn-{{each_widget.unique_id}}"></div>
          <div id="forecast-tmx-{{each_widget.unique_id}}"></div>
      </div>
    </div>

    {% if widget_options.show_row_aot_weather_2 %}
    <div class="row-aot-weather-2">
      <div class="col-wether-announcment">
        <span id="forecast-text-{{each_widget.unique_id}}">
            <!-- 예보문 표시 -->
        </span>
      </div>
    </div>
    {% endif %}

    <div class="row-aot-weather-3">
      <span id="slider-container-{{each_widget.unique_id}}" style="width:80%;">
        <input type="range"
                class="btn-aot-slide-time"
                style="width:100%;"
                id="forecast-slider-{{each_widget.unique_id}}"
                min="-24"
                max="48"
                value="{{ each_widget.forecast_offset | default(0) }}">
      </span>
    </div>
  </div>
  