
  // Retrieve the latest/last measurement for Measurement widget
  function getLastDataMeasurement_multi2(measurement_num,
                       widget_id,
                       unique_id,
                       measure_type,
                       measurement_id,
                       max_measure_age_sec,
                       decimal_places) {
    if (decimal_places === null) {
      decimal_places = 1;
    }

    const url = '/last/' + unique_id + '/' + measure_type + '/' + measurement_id + '/' + max_measure_age_sec.toString();
    $.ajax(url, {
      success: function(data, responseText, jqXHR) {
        if (jqXHR.status === 204) {
          if (document.getElementById(measurement_num + '-value-' + widget_id)) {
            document.getElementById(measurement_num + '-value-' + widget_id).innerHTML = 'NO DATA';
          }
          if (document.getElementById(measurement_num + '-timestamp-' + widget_id)) {
            document.getElementById(measurement_num + '-timestamp-' + widget_id).innerHTML = 'MAX AGE EXCEEDED';
          }
        }
        else {
          const formattedTime = epoch_to_timestamp(data[0] * 1000);
          const measurement = data[1];
          if (document.getElementById(measurement_num + '-value-' + widget_id)) {
            document.getElementById(measurement_num + '-value-' + widget_id).innerHTML = measurement.toFixed(decimal_places);
          }
          if (document.getElementById(measurement_num + '-timestamp-' + widget_id)) {
            document.getElementById(measurement_num + '-timestamp-' + widget_id).innerHTML = formattedTime;
          }
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        if (document.getElementById(measurement_num + '-value-' + widget_id)) {
          document.getElementById(measurement_num + '-value-' + widget_id).innerHTML = 'NO DATA';
        }
        if (document.getElementById(measurement_num + '-timestamp-' + widget_id)) {
          document.getElementById(measurement_num + '-timestamp-' + widget_id).innerHTML = '{{_('Error')}}';
        }
      }
    });
  }

  // Repeat function for getLastData()
  function repeatLastDataMeasurement_multi2(measurement_num,
                          widget_id,
                          dev_id,
                          measure_type,
                          measurement_id,
                          period_sec,
                          max_measure_age_sec,
                          decimal_places) {
    setInterval(function () {
      getLastDataMeasurement_multi2(measurement_num,
                  widget_id,
                  dev_id,
                  measure_type,
                  measurement_id,
                  max_measure_age_sec,
                  decimal_places)
    }, period_sec * 1000);
  }
