
    <style>
    /* 컨트롤러 위젯 전용 UI 개선 */
    #frame_aot_{{each_widget.unique_id}} .col-aot-2 {
      width: 60px !important;
    }
    </style>
  <div class="frame-aot inactive-background"

      id="frame_aot_{{each_widget.unique_id}}">
    
    <div class="row-aot-1-1">
      <div class="col-aot-1">
        <span class="prt-text" id="aot_controller_txt_{{each_widget.unique_id}}">
          {{_('Inactive')}}
        </span>
      </div>

      <div class="col-aot-2">
        <label class="btn-toggle">
          <input type="checkbox"
                 id="aot_controller_toggle_{{each_widget.unique_id}}"
                 class="controller-toggle-input btn-toggle-input"
                 name="{{widget_options['controller']}}">
          <span class="btn-toggle-slider">
            <span class="btn-toggle-thumb"></span>
          </span>
        </label>
      </div>
    </div>

  </div>

