[Unit]
Description=AoT-AI server
After=syslog.target network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=20s
TimeoutSec=0
ExecStart=/opt/AoT-AI/env/bin/python /opt/AoT-AI/aot-ai/aot-ai_daemon.py
ExecStop=/opt/AoT-AI/env/bin/python /opt/AoT-AI/aot-ai/aot-ai_client.py -t
ExecReload=/opt/AoT-AI/env/bin/python /opt/AoT-AI/aot-ai/aot-ai_client.py -t && /opt/AoT-AI/env/bin/python /opt/AoT-AI/aot-ai/aot-ai_daemon.py

[Install]
WantedBy=multi-user.target
Alias=aot-ai.service
