{% if not dict_options or 
      'coordinates' in dict_options['options_disabled'] or
      'coordinates' in dict_options['options_enabled']
  %}

<div class="aot-modal-option-row">
  <label class="aot-modal-option-label">{{ form.latitude.label(class_='mb-0') }}</label>
  <div class="aot-modal-option-control">
    {{ form.latitude(class_='form-control aot-modern-input', value=(each_device.latitude if each_device.latitude is not none else ''), **{'title': _('Latitude')}) }}
  </div>
</div>

<div class="aot-modal-option-row">
  <label class="aot-modal-option-label">{{ form.longitude.label(class_='mb-0') }}</label>
  <div class="aot-modal-option-control">
    {{ form.longitude(class_='form-control aot-modern-input', value=(each_device.longitude if each_device.longitude is not none else ''), **{'title': _('Longitude')}) }}
  </div>
</div>

{% endif %}
