{% if 'uart' in dict_options['options_enabled'] or
      'uart' in dict_options['options_disabled']
  %}

<div class="aot-modal-option-row">
  <label class="aot-modal-option-label">{{dict_translation['uart']['title']}}</label>
  <div class="aot-modal-option-control">
  {%- if 'uart' in dict_options['options_disabled'] -%}
    {{form.uart(class_='form-control aot-modern-select', value=each_device.uart, disabled=True, **{'title': dict_translation['uart']['phrase']})}}
  {% else %}
    {{form.uart(class_='form-control aot-modern-select', value=each_device.uart, **{'title': dict_translation['uart']['phrase']})}}
  {%- endif -%}
  </div>
</div>

{% endif %}
