{% extends "layout-settings.html" %}
{% set active_page = "output" %}
{% set active_settings = "output" %}
{% set help_page = ["https://aot-inc.github.io/AoT/Configuration-Settings/#output-settings", dict_translation['settings']['title'] + ': ' + dict_translation['output']['title']] %}

{% block title %} - {{dict_translation['settings']['title'] + ': ' + dict_translation['output']['title']}}{% endblock %}

{% block settings %}
  <!-- Route: /settings/output -->
  <div class="container">
    <div class="aot-settings-title">
      <h3>{{ _('Output Settings') }} <a href="https://aot-inc.github.io/AoT/Configuration-Settings/#output-settings" target="_blank"><span class="fas fa-question-circle" style="font-size:16px"></span></a></h3>
      <div class="d-flex" style="gap: 8px;">
        <button class="btn aot-pill-btn aot-pill-btn-primary" id="menu-toggle">{{_('Settings Menu')}}</button>
      </div>
    </div>

    <div class="aot-modal-group-title">{{ _('Import Output Module') }}</div>
    <p class="aot-modal-body-text">{{_('You can import output module files.')}}</p>

    <form method="post" action="/settings/output" enctype="multipart/form-data">
      {{ form_output.csrf_token }}
      <div class="d-flex" style="gap: 8px; margin-bottom: 1.2rem; align-items: center;">
        <div class="fileoutput fileoutput-new" data-provides="fileoutput">
          <span class="btn btn-sm btn-file">
            <input id="import_output_file" name="import_output_file" type="file" />
          </span>
        </div>
        <div>
          {{ form_output.import_output_upload(class_='btn aot-pill-btn aot-pill-btn-primary') }}
        </div>
      </div>
    </form>

    {% if dict_outputs %}

    <div class="aot-modal-group-title" style="margin-top: 2rem;">{{ _('Imported Output Modules') }}</div>

    <div class="aot-modal-container" style="padding: 0 16px;">
      <table class="aot-module-table aot-module-table-3col">
        <thead>
          <tr>
            <td>{{ _('ID') }}</td>
            <td>{{ _('Name') }}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
        {% for each_output in dict_outputs %}

        <form method="post" action="/settings/output">
          {{ form_output_delete.csrf_token }}
          {{ form_output_delete.output_id(value=each_output) }}

          <tr>
            <td>{{ each_output }}</td>
            <td>{{ dict_outputs[each_output]['output_name'] }}</td>
            <td>
              {{ form_output_delete.delete_output(class_='btn aot-pill-btn aot-pill-btn-primary w-100', **{'onclick':'return confirm("' + _('Are you sure you want to delete this output?') + '")'}) }}
            </td>
          </tr>

        </form>

        {% endfor -%}
        </tbody>
      </table>
    </div>

    {% endif %}

  </div>

{% endblock %}